<!-- Toolbar Start -->
<div fxlayout="row" fxlayout.xs="column">
    <md-toolbar color="primary">
        <div fxFlex="10%"><img src="https://mockingbot.in/uploads/images/22/227204/raw_1493831176.png"></div>
        <button md-button [mdMenuTriggerFor]="appMenu">
            <md-icon>menu</md-icon> Menu</button>
        <div fxFlexOffset="80%">
            <button md-icon-button>
                <md-icon>close</md-icon>
            </button>
        </div>
    </md-toolbar>
    <md-menu #appMenu="mdMenu">
        <button md-menu-item> Settings </button>
        <button md-menu-item> Help </button>
    </md-menu>
</div>
<!-- Toolbar Ends -->

<div class="gap"></div>

<!-- Tabs -->
<md-tab-group >

    <md-tab label="New Deployment">
     <app-view-card></app-view-card>
    </md-tab>

    <md-tab label="Scheduled Deployment">
     Content 2 goes here
    </md-tab>

</md-tab-group>
<!-- Tabs Ends -->



<!-- <div class="test" fxLayout="row" fxLayout.xs="column" fxFlexAlign="end" >
  <div fxFlex="grow" fxFlexOffset="10%">1. One</div>
  <div fxFlex="10%">2. Two</div>
  <div fxFlex="10%">3. Three</div>
  <div fxFlex="10%">4. Four</div>
</div>

<div class="gap"></div>
<div fxLayout="row">
  <md-card fxFlex fxFlexAlign="start">

      <md-card-content>
        <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
          <md-input-container fxFlex="calc(50%-25px)">
            <input mdInput placeholder="Name">
          </md-input-container>
          <md-input-container fxFlex="calc(50%-25px)">
            <input mdInput placeholder="Occupation">
          </md-input-container>
          <md-input-container fxFlex="calc(50%-25px)">
            <input mdInput placeholder="Compnay">
          </md-input-container>
        </div>
      </md-card-content>

      <md-card-actions>
        <button md-button>Anterior</button>
        <button md-button>Proximo</button>
      </md-card-actions>
  </md-card>

</div> -->
